{% include "base.html" %}
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Contact</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <section id="register" style="background: url('../static/assets/images/background-img.png') no-repeat;">
        <div class="container ">
            <div class="row my-5 py-5">
                <div class="offset-md-3 col-md-6 my-5 ">
                    <h2 class="display-3 fw-normal text-center"><span class="text-primary">Contact Us</span></h2>

                </div>
            </div>
        </div>
    </section>
    <!-- Your content goes here -->
{% endblock %}
</body>
{% include "footer.html" %}
